.list-top {
    display: flex;
}
.list-top li {
    list-style: none;
    border: 1px solid #ccc;
    background: #f4f4f4;
    padding: 3rem 2rem 0 0.5rem;
    position: relative;
}
.list-top li:hover{
    background: orange;
    cursor: pointer;
}
.sub-menu{
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    
}
.sub-menu li{
    padding: 0.5rem;
}
.list-top li:hover>ul
 {
    visibility: visible;
    opacity: 1;
    display: flex;
}