
.relative-boxes {
	position: relative;
	margin-top:20px;

}

.box-1 {
	position: static;



}

.box-2 {
	position: absolute;
	margin-top: 20px;


}

.box-3 {
	position: absolute;
	top: 50%;
	right: 0;
	
}
.footer {
	clear: both;
  
}