/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  background-image: url(../img/page-background.jpg);
  background-repeat: repeat-x;
}

.content {
  width: 960px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}


/* Nav Element */

.site-navigation img {
  margin-top: 13px;
  margin-left: 60px;
  float: left;
}

.site-navigation ul {
  padding: 0;
  margin: 0 0 0 100px;
  float: left;
  list-style: none;
}

.site-navigation li {
  float: left;
  line-height: 74px;
  margin-right: 24px;
}

.site-navigation a,
.site-navigation a:link,
.site-navigation a:visited {
  display: inline-block;
  text-decoration: none;
  color: #f3eddb;
}

.site-navigation a:hover {
  color: #fff;
}


/* Header Element */

.coffee-choices {
  color: #f3eddb;
  background-image: url(../img/coffe-beans-and-cup.png);
  background-repeat: no-repeat;
  background-position: 260px 80px;
  height: 385px;
  text-align: center;
}

.coffee-choices h1 {
  margin: 0;
  font-size: 48px;
}

.coffee-choices p {
  margin: 0;
  font-size: 24px;
  color: rgba(243, 237, 219, 0.55);
}

.coffee-choices button {
  font-size: 32px;
  background-color: #321b10;
  border-radius: 12px;
  color: #f3eddb;
  margin-top: 16px;
  border: none;
  padding: 10px 35px;
}

.coffee-choices button:hover {
  cursor: pointer;
}

.bean-types {
  margin-top: 10px;
  width: 430px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}



/* CODE BELOW IS FOR THE INCLASS ASSESSMENT */

.main-menu li a,
.btn {
    color: #faf5ff;
    text-decoration: none;
    display: block;
}

.main-menu li{
    padding: 0;
    line-height: 4.375rem; /* which is an equivalent of 70 pixels */
    position: relative; /* why is this important. so that its relative and not absolute to its position */
    white-space: nowrap; /* this means the text within your menu does not overlap. remains within the box */
}

.main-menu> li:hover{
    background-color: #B89189;
}


.sub-menu{
    background-image: linear-gradient(0deg, rgba(196, 142, 130)0%, rgba(120, 107, 104)100% );
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.sub-menu li{
    border-bottom: 1px solid rgba(196, 142, 130);
    line-height: 2.8125rem;
}

.main-menu li a.arrow-icon{
    display:flex;
}

.sub-menu ul{
    top: 0;
    left: 100%;

}

/* now we do a hover state that when you hover its going to show the menu */
.main-menu li:hover>ul{
    visibility: visible;
    opacity: 1;
}

/* now we add a condition that will show an effect when we click on menu items with dropdown(visual effects) */
.sub-menu>li{
    padding: 0 1rem 0 0.075rem;
    border-left: 0.25rem solid rgb(196,142,130);
}
.sub-menu>li:hover{
    border-left:0.25rem solid #c48e82;
}
.sub-menu {
    transition: all 0.5s ease;
}

.main-menu li:focus-within>ul,
.main-menu li>ul:focus{
    visibility: visible;
    opacity: 0;
    display: block;
}
